img {
  width: 400px;
  display: block;
  margin: 10 auto;
}

.col2 {
  columns: 2 300px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 300px; /* chrome, safari */
  -moz-columns: 2 300px;    /* firefox */
}

table tr td {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:0px;   
}
table tr td:nth-child(1) {
  width:610px;
}
table tr td:nth-child(2) {
  width:300px;
}