img {
  width: 400px;
  display: block;
  margin: 10 auto;
}

.col2 {
  columns: 2 300px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 300px; /* chrome, safari */
  -moz-columns: 2 300px;    /* firefox */
}